.toggle-button {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0; */
  outline: none;
  border: none;
  background: transparent;
  margin-left: 1rem;
  font-size: 24px;
  color: #7e2c7e;
  box-sizing: border-box;
  z-index: 2;
}

.toggle-button:focus,
.toggle-button:hover,
.toggle-button:active {
  opacity: 0.75;
}

/* .toggle-button__line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 3px;
} */
