/* .notesWrapper {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex: 1;
  flex-flow: column;
  padding-bottom: 60px;
  margin-top: 35px;
  margin-bottom: 60px;
  height: calc(100% - 112px);
  width: 100%;
  overflow-y: scroll;
  background-color: #3bb4c4;
} */
body {
  width: 375px;
}

.notesHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #89abcc;
  color: #fff;
  padding: 10px 5%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.spacer {
  flex: 1;
}

.toggle-button {
  float: left;
}

.notesLogout {
  float: right;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex-flow: column;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

/* .mainWrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
} */

.chatAppWrapperChat {
  position: absolute;
  top: 50px;
  left: 0;
  /* display: flex;
  flex: 1;
  flex-flow: column; */
  /* padding-bottom: 60px; */
  /* margin-top: 35px;
  margin-bottom: 60px; */
  height: calc(100% - 110px);
  width: 100%;
  overflow-y: scroll;
  background-color: #f4f8f8;
}

.chatAppWrapper {
  position: absolute;
  top: 50px;
  left: 0;
  /* display: flex;
  flex: 1;
  flex-flow: column; */
  /* padding-bottom: 60px; */
  /* margin-top: 35px;
  margin-bottom: 60px; */
  height: calc(100% - 110px);
  width: 100%;
  overflow-y: scroll;
  background-color: #f4f8f8;
}

/* .mainChatAppWrapper {
  flex: 1;
}
 */
/* .notesFooter {
  display: flex;
  flex-flow: column;
  flex: 1 1 5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
} */
.chatFooterChat {
  flex: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white;
}

.chatFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  max-height: 10%;
  padding: 2%;
  width: 100%;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-style: inset;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: hsl(180, 22%, 90%);
}

.chatFooter input {
  margin: 0 0.5%;
  padding: 1% 0;
  font-size: 10px;
}

.note {
  border: none;
  width: 50%;
  border-radius: 0.3rem;
  background-color: #d3d3d3;
  color: #272424;
  text-align: left;
  overflow: hidden;
  margin: 0.8rem;
  flex: 0 0 210px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes fadeOut {
  from {
    opactiy: 0.8;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
}

.noteContent {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: left;
}

.closebtn {
  color: #aa9;
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 1.3em;
}

.closebtn:hover {
  color: #ac2500;
}

/* .formWrapper {
  width: 100%;
  margin: 0 auto;
} */

/* .noteButton {
  width: 30%;
  max-width: 750px;
  font-size: 1.3em;
  padding-left: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Droid Sans", sans-serif;
  background-color: rgba(34, 49, 63, 0.8);
  color: #fff;
  transition: 0.2s ease-out;
} */

.noteButton {
  width: 35px;
  height: 35px;
  line-height: 25px;
  font-size: 25px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: pink;
}

.noteButton:hover {
  background-color: #02ba85;
  color: #fff;
  transition: 0.2s ease-out;
}

.noteButtonNote {
  width: 20%;
  font-size: 10px;
  padding: 5%;
  border: 2px solid hsla(0, 0%, 0%, 0.9);
  border-radius: 5%;
  margin: 0 2%;
  text-align: center;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: pink;
}

.noteInput {
  width: 65%;
  font-size: 1em;
  /* margin: 16px 8px; */
  padding-left: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Droid Sans", sans-serif;
  background-color: rgba(149, 173, 196, 0.8);
  color: #fff;
  transition: 0.2s ease-out;
}

.noteInput:focus {
  background-color: #e4f1fe;
  color: rgb(226, 218, 218);
  transition: 0.2s ease-in;
}

.speech-bubble {
  width: 80%;
  position: relative;
  background: #abcc75;
  border-radius: 0.4em;
  margin: 10px 12px;
  padding: 10px;
  overflow-y: auto;
}

.speech-bubble2 {
  width: 80%;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 0.4em;
  margin: 10px 12px;
  padding: 10px;
  overflow-y: auto;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-right-color: #94b6d8;
  border-left: 0;
  border-bottom: 0;
  margin-top: -9.5px;
  margin-left: -19px;
}

img.card-img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 1.15rem;
  opacity: 0.85;
  border: 4px solid black;
  margin: 0;
}
